

.title{
position:absolute;
top: 90%;
left: 50%;
transform: translate(-50%,-50%);
}
.title h1{
color:rgb(243, 247, 243);
font-size: 35px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 35px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    color:rgb(241, 234, 234);
    font-family:sans-serif;
    padding:5px 20px;
    border:1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;

}
ul li.active a{
    background-color: #fff;
    color: #000;
}
